.about {
  height: 91vh;
  display: flex;
  overflow: hidden;
  color: var(--text);
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.about .about__primary {
  height: 500px;
  display: flex;
  margin-left: 10%;
  overflow: hidden;
  position: relative;
}

.about .about__primary .line__numbers {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateY(-370px) translateZ(0px);
}

.about .about__primary .line__numbers .number {
  line-height: 1.7;
  color: white;
}

.about .about__primary .large__line {
  width: 1px;
  height: 450px;
  margin-left: 1rem;
  align-self: center;
  background-image: linear-gradient(180deg, transparent, #595858, transparent);
}

.about .about__primary .wrapper {
  align-self: center;
  margin-left: 1rem;
}

.about .about__primary .wrapper .small__line {
  align-self: center;
  width: 1px;
  height: 230px;
  background-color: var(--light-grey);
}

.about .about__primary .wrapper p {
  font-weight: 300;
  font-size: calc(18 / 16 * 1rem);
}

.about .about__primary .wrapper p:first-child {
  margin-bottom: -10px;
}

.about .about__primary .wrapper p:last-child {
  margin-top: -10px;
}

.about .about__primary .about__text {
  align-self: center;
  width: 450px;
}

.about .about__primary .about__text h1 {
  font-weight: 700;
  font-size: calc(20 / 16 * 1rem);
}

.about .about__primary .about__text p {
  font-size: calc(18 / 16 * 1rem);
  padding-bottom: 15px;
}

/* SECONDARY  */

.arrow {
  padding-right: 5px;
  font-size: 1rem;
}

.folder.color-1 {
  color: var(--yellow);
}
.folder.color-2 {
  color: #8acaff;
}
.folder.color-3 {
  color: #b4f1b4;
}
.folder.color-4 {
  color: #ffb8b0;
}

.about .about__secondary {
  margin-bottom: -16px;
  background-color: #131313;
  padding: 1rem;
  height: 89vh;
  width: 400px;
}

.about .about__secondary h2 {
  font-size: calc(22 / 16 * 1rem);
  padding-left: 20px;
  padding-bottom: 5px;
  color: var(--white);
}
/* .about .about__secondary .wrapper-1 {
  padding-bottom: 5px;
} */

.about .about__secondary .wrapper-1 {
  display: flex;
  color: var(--white);
}

.about .about__secondary .wrapper-1 p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.about .about__secondary .wrapper-2 .title {
  cursor: pointer;
  color: var(--white);
  display: flex;
}

.about .about__secondary .wrapper-2 .title .folder {
  display: flex;
  padding-right: 5px;
  align-items: center;
  font-size: calc(20 / 16 * 1rem);
}

.about .about__secondary .wrapper-2 .title .folder,
.about .about__secondary .wrapper-2 .title p {
  font-size: calc(18 / 16 * 1rem);
}

.about .about__secondary .wrapper-2 .list p {
  color: #e5e5e5;
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: calc(18 / 16 * 1rem);
}
