.about {
  height: 91vh;
  display: flex;
  overflow: hidden;
  color: var(--text);
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.about .about__primary {
  height: 500px;
  display: flex;
  margin-left: 10%;
  overflow: hidden;
  position: relative;
}

.about .about__primary .line__numbers {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateY(-370px) translateZ(0px);
}

.about .about__primary .line__numbers .number {
  line-height: 1.7;
  color: white;
}

.about .about__primary .large__line {
  width: 1px;
  height: 450px;
  margin-left: 1rem;
  align-self: center;
  background-image: linear-gradient(180deg, transparent, #595858, transparent);
}

.about .about__primary .wrapper {
  align-self: center;
  margin-left: 1rem;
}

.about .about__primary .wrapper .small__line {
  align-self: center;
  width: 1px;
  height: 230px;
  background-color: var(--light-grey);
}

.about .about__primary .wrapper p {
  font-weight: 300;
  font-size: calc(18 / 16 * 1rem);
}

.about .about__primary .wrapper p:first-child {
  margin-bottom: -10px;
}

.about .about__primary .wrapper p:last-child {
  margin-top: -10px;
}

.about .about__primary .about__text {
  align-self: center;
  width: 450px;
}

.about .about__primary .about__text h1 {
  font-weight: 700;
  font-size: calc(20 / 16 * 1rem);
}

.about .about__primary .about__text p {
  font-size: calc(18 / 16 * 1rem);
  padding-bottom: 15px;
}

/* SECONDARY  */

.arrow {
  padding-right: 5px;
  font-size: 1rem;
}

.folder.color-1 {
  color: var(--yellow);
}
.folder.color-2 {
  color: #66bddc;
}
.folder.color-3 {
  color: #e67ab1;
}
.folder.color-4 {
  color: var(--white);
}

.about .about__secondary,
.about .about__secondary--hamburger {
  margin-bottom: -16px;
  background-color: #131313;
  padding: 1rem;
  height: 89vh;
  width: 400px;
}

.about .about__secondary h2,
.about .about__secondary--hamburger h2 {
  font-size: calc(22 / 16 * 1rem);
  padding-left: 20px;
  padding-bottom: 5px;
  color: var(--white);
}
/* .about .about__secondary .wrapper-1 {
  padding-bottom: 5px;
} */

.about .about__secondary .wrapper-1,
.about .about__secondary--hamburger .wrapper-1 {
  display: flex;
  color: var(--white);
}

.about .about__secondary .wrapper-1 p,
.about .about__secondary--hamburger .wrapper-1 p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.about .about__secondary .wrapper-2 .title,
.about .about__secondary--hamburger .wrapper-2 .title {
  cursor: pointer;
  color: var(--white);
  display: flex;
}

.about .about__secondary .wrapper-2 .title .folder,
.about .about__secondary--hamburger .wrapper-2 .title .folder {
  display: flex;
  padding-right: 5px;
  align-items: center;
  font-size: calc(20 / 16 * 1rem);
}

.about .about__secondary .wrapper-2 .title .folder,
.about .about__secondary .wrapper-2 .title p,
.about .about__secondary--hamburger .wrapper-2 .title .folder,
.about .about__secondary--hamburger .wrapper-2 .title p {
  font-size: calc(18 / 16 * 1rem);
}

.about .about__secondary .wrapper-2 .list p,
.about .about__secondary--hamburger .wrapper-2 .list p {
  color: #e5e5e5;
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: calc(18 / 16 * 1rem);
}

/* hamburgermenu */

.bars {
  display: none;
}

.hamburger {
  display: none;
}
.about .about__secondary--hamburger {
  display: none;
}

.hamburger {
  transition: transform 0.3s ease;
}

.hamburger.menuOpen {
  display: inline-block;
  transform: translateX(0);
}

.hamburger.menuClose {
  display: inline-block;
  transform: translateX(400px);
}

@media screen and (min-width: 1200px) {
  .about {
    height: 90vh;
  }

  .about .about__primary {
    height: 500px;
  }

  .about .about__primary .line__numbers .number {
    line-height: 1.35;
    font-size: calc(20 / 16 * 1rem);
  }

  .about .about__primary .wrapper .small__line {
    height: 250px;
  }

  .about .about__primary .wrapper p {
    font-size: calc(20 / 16 * 1rem);
  }

  .about .about__primary .wrapper p:first-child {
    margin-bottom: -10px;
  }

  .about .about__primary .wrapper p:last-child {
    margin-top: -10px;
  }

  .about .about__primary .about__text {
    width: 500px;
  }

  .about .about__primary .about__text h1 {
    font-size: calc(22 / 16 * 1rem);
  }

  .about .about__primary .about__text p {
    font-size: calc(20 / 16 * 1rem);
  }

  /* SECONDARY  */

  .arrow {
    font-size: calc(20 / 16 * 1rem);
  }

  .about .about__secondary h2 {
    font-size: calc(28 / 16 * 1rem);
  }

  .about .about__secondary .wrapper-1 p,
  .about .about__secondary--hamburger .wrapper-1 p {
    font-size: calc(20 / 16 * 1rem);
  }

  .about .about__secondary .wrapper-2 .title .folder,
  .about .about__secondary .wrapper-2 .title p {
    font-size: calc(20 / 16 * 1rem);
  }

  .about .about__secondary .wrapper-2 .list p,
  .about .about__secondary--hamburger .wrapper-2 .list p {
    font-size: calc(20 / 16 * 1rem);
  }
}

@media screen and (max-width: 820px) {
  /* Primary */

  .about .about__primary .line__numbers .number {
    font-size: 0.9rem;
    line-height: 1.8;
  }

  .about .about__primary .wrapper p {
    font-size: 1rem;
  }

  .about .about__primary .about__text {
    width: 600px;
  }

  .about .about__primary .about__text h1 {
    font-size: calc(18 / 16 * 1rem);
  }

  .about .about__primary .about__text p {
    font-size: calc(16 / 16 * 1rem);
  }

  /* secondary */
  .about .about__secondary {
    overflow: hidden;
    position: absolute;
    top: 3000px;
  }

  .about .about__secondary--hamburger {
    display: inline-block;
  }

  .hamburger {
    display: block;
  }

  .bars {
    display: block;
    position: absolute;
    top: 20px;
    color: var(--white);
    right: 30px;
    font-size: calc(36 / 16 * 1rem);
    z-index: 40;
  }

  .about .about__secondary--hamburger {
    margin-bottom: -16px;
    width: 250px;
  }

  .about .about__secondary--hamburger h2 {
    font-size: 1.1rem;
    padding-left: 20px;
    padding-bottom: 5px;
  }
  /* .about .about__secondary .wrapper-1 {
  padding-bottom: 5px;
} */

  .about .about__secondary--hamburger .wrapper-1 p {
    font-size: 0.9rem;
  }

  .about .about__secondary--hamburger .wrapper-2 .title .folder,
  .about .about__secondary--hamburger .wrapper-2 .title p {
    font-size: 1rem;
  }

  .about .about__secondary--hamburger .wrapper-2 .list p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 630px) {
  .about {
    height: 91vh;
    display: block;
  }

  .about .about__primary {
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
  }

  .about .about__primary .about__text {
    width: 100%;
  }

  .hamburger {
    display: inline-block;
  }

  .about .about__secondary--hamburger {
    position: absolute;
    bottom: -400px;
    left: -70px;
    margin-bottom: -16px;
    height: 115vh;
    width: 300px;
  }

  .hamburger.menuOpen {
    display: inline-block;
    transform: translateX(400px);
  }

  .hamburger.menuClose {
    display: inline-block;
    transform: translateX(800px);
  }
}

@media screen and (max-width: 570px) {
  .about .about__secondary--hamburger {
    left: -120px;
  }
}

@media screen and (max-width: 514px) {
  .about .about__secondary--hamburger {
    left: -190px;
  }
}

@media screen and (max-width: 440px) {
  .about .about__secondary--hamburger {
    left: -260px;
  }
}

@media screen and (max-width: 430px) {
  .about .about__primary {
    width: 300px;
  }

  .about .about__primary .line__numbers .number {
    font-size: 0.8rem;
    line-height: 2;
  }

  .about .about__primary .wrapper p {
    font-size: 0.9rem;
  }
  .about .about__primary .about__text p {
    font-size: 0.93rem;
  }
  .about .about__primary .about__text h1 {
    font-size: 1rem;
  }
}
