.nav {
  display: flex;
  justify-content: flex-start;
  background-color: var(--dark-grey);
  border-bottom: 1px solid var(--light-grey);
}
.nav__link {
  font-size: 0.9rem;
  border-left: 1px solid var(--light-grey);
  padding: 5px 14px;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--white);
}

.nav__link:nth-child(3) {
  border-right: 1px solid var(--light-grey);
}
/* 
.nav .nav__link.active {
  color: var(--white);
  background-color: var(--grey);
} */
